.best-sellers {
	margin-top: 120px;
	margin-bottom: 100px;

	.container {

	}

	&__header {
		display: flex;
		justify-content: space-between;

		&__link {
			display: flex;
			align-items: center;
			
			&__text {
				font-size: 18px;
				color: #777777;
				margin-right: 15px;
			}

			& > a {
				color: var(--orangeColor);
			}
		}
	}

	&__title {
		font-size: 30px;
	}

	&__slide {
		width: 100% !important; 
		overflow: hidden;

		&__content {
			display: flex;
			width: 99%;
			gap: 25px;
			padding: 10px 0px 10px 2px;
		}
	}

	&__swiper {

		&__control {
			padding: 10px;
			margin-top: 20px;
		}

		&__dots {
			display: flex;
			justify-content: center;

			& > .swiper-pagination-bullet {
				border-radius: 0;
				height: 2px;
				width: 18px;

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: -150%;
					left: -50%;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: var(--orangeColor);
					transition: left 4s ease 0s;
					z-index: 10;
				}
			}

			& > .swiper-pagination-bullet-active {
				position: relative;
				margin-right: 10px;
				border-radius: 0;
				height: 2px;
				width: 18px;
				background-color: var(--orangeColor);

				&:before {
					left: 100%;
					background-color: var(--orangeColor);
				}
			}
		}
	}

	&__slider {
		margin-top: 60px;
	}

	&__item {
		flex: 1 1 auto;
		max-width: 375px;
		padding: 20px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

		&__img {
			display: flex;
			justify-content: center;
		}

		&__content {
			width: 100%;
			margin-top: 20px;
		}

		&__button {
			width: 100%;
			margin-top: 25px;

			span {
				margin-left: 5px;
			}
		}

		&__title {
			font-size: 20px;
		}

		&__characteristic {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
			color: #ABABAB;
		}

		&__footer {
			display: flex;
			justify-content: space-between;
			margin-top: 20px;

			&__price {
				font-size: 20px;
			}

			&__actions {
				display: flex;
				gap: 15px;
				font-size: 24px;

				&__compare {
					color: #000;
				}

				&__favourite {
					color: var(--orangeColor);
				}
			}
		}
	}
}

.swiper-wrapper {
	position: relative;
}

@media (max-width:1400px) {
	.best-sellers__swiper-slide {
		display: flex;
		justify-content: center;
	}

	.best-sellers__slide__content{
		width: 1150px;
	}

	.best-sellers__item:last-child {
		display: none;
	}
}
@media (max-width:1200px) {
	.best-sellers__swiper-slide {
		display: flex;
		justify-content: center;
	}

	.best-sellers__slide__content{
		justify-content: center;
		width: 950px;
	}

	.best-sellers__item:nth-child(n+3) {
		display: none;
	}
}
@media (max-width:768px) {
	.best-sellers__swiper-slide {
		display: flex;
		justify-content: center;
	}

	.best-sellers__slide__content{
		justify-content: center;
		width: unset;
	}

	.best-sellers__item:nth-child(n+2) {
		display: none;
	}
}
@media (max-width:576px) {
	.best-sellers__swiper-slide {
		display: flex;
		gap: 40px;
		justify-content: center;
	}

	.best-sellers__slide__content{
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: unset;
	}

	.best-sellers__item {
		display: unset !important;
	}

	.best-sellers__header {
		display: flex;
		justify-content: center;
	}

	.best-sellers__adaptive {
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
}